In [1]:
import pandas as pd

In [7]:
# Load your sales data
OrderData = pd.read_csv('C:/Users/wasim/OneDrive/Desktop/MySQL/Data Analysis/AceOrders2324.csv')

print(OrderData.head())

   Order Number Order Status        Order Date First Name (Billing)  \
0         14132   Processing  2024-09-30 18:13            Christine
1         14131   Processing  2024-09-30 17:58              Jessica
2         14119   Processing  2024-09-30 15:22               Dessie
3         14075   Processing  2024-09-29 02:42                  Joy
4         14073   Processing  2024-09-28 15:50              allyssa

  Last Name (Billing)             Company (Billing)  \
0             Sanchez  Sanchez Here Productions LLC
1              Mobley           DESIGN 2 WEAR 2 LLC
2               Coder                Cheer Bows Etc
3              Ridley                 J&J Creations
4              Travis                           NaN

             Address 1&2 (Billing) City (Billing) State Code (Billing)  \
0                 5150 Marton Road      Ann Arbor                   MI
1                 1112 Central Ave     Middletown                   OH
2  400 Colemans Crossing Boulevard     Marysville                   OH
3                 191 Hillcrest dr     Springboro                   OH
4                   1603 Kenton St    Springfield                   OH

  Postcode (Billing)  ... Country Code (Shipping)  \
0              48108  ...                      US
1         45044-4011  ...                      US
2              43040  ...                      US
3              45066  ...                      US
4         45505-3301  ...                      US

                        Payment Method Title Cart Discount Amount  \
0  PayPal - sanchezhereproductions@gmail.com                  0.0
1            PayPal - design2wear2@yahoo.com                 75.0
2            PayPal - cheerbowsetc@gmail.com                 99.0
3              PayPal - joycridley@gmail.com                 50.0
4            PayPal - allyssaboggs@yahoo.com                  0.0

  Order Subtotal Amount Shipping Method Title Order Shipping Amount  \
0                 140.0           UPS® Ground                 15.79
1                 242.5           UPS® Ground                 10.69
2                 468.0      Warehouse Pickup                  0.00
3                 300.0      Warehouse Pickup                  0.00
4                  55.0      Warehouse Pickup                  0.00

  Order Refund Amount Order Total Amount Order Total Tax Amount  \
0                 0.0             155.79                      0
1                 0.0             178.19                      0
2                 0.0             369.00                      0
3                 0.0             250.00                      0
4                 0.0              55.00                      0

  Discount Amount
0             NaN
1            75.0
2            99.0
3            50.0
4             NaN

[5 rows x 29 columns]

In [9]:
# Convert 'Order Date' to datetime
OrderData['Order Date'] = pd.to_datetime(OrderData['Order Date'])